<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>6-max 100BB</title>
    <style>
        /* CSS样式定义链接之间的间距 */
        a {
            margin: 20px 20px; /* 上下边距为10px，左右边距为0 */
        }
    </style>
</head>
<body>
<div class="container">
    <h3>随机数</h3>
    <p th:text="${randomNum}" style="font-size: 20px;"></p>
</div>
<div class="container">
    <h3>RFI</h3>
    <div class="area">
        <a th:href="@{/preflop/parentAndPosition}">LJ</a>
        <a th:href="@{/preflop/parentAndPosition(parent='LJfold')}">HJ</a>
        <a th:href="@{/preflop/parentAndPosition(parent='LJfold:HJfold')}">CO</a>
        <a th:href="@{/preflop/parentAndPosition(parent='LJfold:HJfold:COfold')}">BN</a>
        <a th:href="@{/preflop/parentAndPosition(parent='LJfold:HJfold:COfold:BNfold')}">SB</a>
    </div>
</div>

<div class="container">
    <h3>DEFENSE</h3>
    <div class="area">
        <a th:href="@{/preflop/parentAndPosition(parent='LJ2bet')}">HJ_VS_LJ</a>
    </div>
    <div class="area">
        <a th:href="@{/preflop/parentAndPosition(parent='LJ2bet:HJfold')}">CO_VS_LJ</a>
        <a th:href="@{/preflop/parentAndPosition(parent='LJfold:HJ2bet')}">CO_VS_HJ</a>
    </div>
    <div class="area">
        <a th:href="@{/preflop/parentAndPosition(parent='LJ2bet:HJfold:COfold')}">BN_VS_LJ</a>
        <a th:href="@{/preflop/parentAndPosition(parent='LJfold:HJ2bet:COfold')}">BN_VS_HJ</a>
        <a th:href="@{/preflop/parentAndPosition(parent='LJfold:HJfold:CO2bet')}">BN_VS_CO</a>
    </div>
    <div class="area">
        <a th:href="@{/preflop/parentAndPosition(parent='LJ2bet:HJfold:COfold:BNfold')}">SB_VS_LJ</a>
        <a th:href="@{/preflop/parentAndPosition(parent='LJfold:HJ2bet:COfold:BNfold')}">SB_VS_HJ</a>
        <a th:href="@{/preflop/parentAndPosition(parent='LJfold:HJfold:CO2bet:BNfold')}">SB_VS_CO</a>
        <a th:href="@{/preflop/parentAndPosition(parent='LJfold:HJfold:COfold:BN2bet')}">SB_VS_BN</a>
    </div>
    <div class="area">
        <a th:href="@{/preflop/parentAndPosition(parent='LJ2bet:HJfold:COfold:BNfold:SBfold')}">BB_VS_LJ</a>
        <a th:href="@{/preflop/parentAndPosition(parent='LJfold:HJ2bet:COfold:BNfold:SBfold')}">BB_VS_HJ</a>
        <a th:href="@{/preflop/parentAndPosition(parent='LJfold:HJfold:CO2bet:BNfold:SBfold')}">BB_VS_CO</a>
        <a th:href="@{/preflop/parentAndPosition(parent='LJfold:HJfold:COfold:BN2bet:SBfold')}">BB_VS_BN</a>
        <a th:href="@{/preflop/parentAndPosition(parent='LJfold:HJfold:COfold:BNfold:SB2bet')}">BB_VS_SB</a>
    </div>
</div>
</body>
</body>
</html>