<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta th:if="${nextStreet}" http-equiv="refresh" th:attr="content='0;url=/postflop/river?preflopActions=' + ${preflopActions} + '&flopCards=' + ${flopCards} + '&privateCards=' + ${privateCards} + '&position=' + ${position} + '&postflopActions=' + ${postflopActions} + '&turnCard=' + ${turnCard}">
    <title>Turn</title>
    <style>
        .card-container {
            display: grid;
            grid-template-columns: repeat(13, 40px);
            gap: 3px;
            margin: 5px;
        }

        .card-button {
            padding: 10px;
            border: 1px solid #000;
            cursor: pointer;
        }
    </style>
</head>
<body>
<div class="container">
    <a href="/index_6_max_100BB" style="font-size: 20px;">回到首页</a>
</div>

<div th:if="${needInput}">
    <div class="card-container" id="turnCardContainer">
        <!-- 扑克牌按钮将通过JavaScript动态生成 -->
    </div>
    <div class="container">
        <label for="turnCard">turn牌面：</label>
        <input type="text" id="turnCard" name="turnCard" placeholder="点击上方按钮">
    </div>

    <div id="preflopActions" th:text="${preflopActions}" style="display: none"></div>
    <div id="flopCards" th:text="${flopCards}" style="display: none"></div>
    <div id="privateCards" th:text="${privateCards}" style="display: none"></div>
    <div id="position" th:text="${position}" style="display: none"></div>
    <div id="postflopActions" th:text="${postflopActions}" style="display: none"></div>
    <a id="getStrategy" href="#">获取策略</a>

    <script>
        // 扑克牌的花色和数值
        const suits = ['♠', '♥', '♣', '♦'];
        const ranks = ['A', 'K', 'Q', 'J', 'T', '9', '8', '7', '6', '5', '4', '3', '2'];

        // 生成扑克牌按钮
        const turnCardInput = document.getElementById('turnCard');
        function generateTurnCards() {
            // 获取容器和输入框元素
            const cardContainer = document.getElementById('turnCardContainer');
            cardContainer.innerHTML = ''; // 清空容器
            for (let suit of suits) {
                for (let rank of ranks) {
                    const cardButton = document.createElement('button');
                    cardButton.textContent = `${rank}${suit}`;
                    cardButton.className = 'card-button';
                    cardButton.onclick = function () {
                        turnCardInput.value = `${rank}${suit}`; // 更新输入框的值
                    };
                    cardContainer.appendChild(cardButton);
                }
            }
        }

        // 初始化扑克牌
        generateTurnCards();

        // 设置链接的href属性，使其包含输入框的值作为GET请求的参数
        const getStrategyLink = document.getElementById('getStrategy');
        const preflopActions = document.getElementById("preflopActions");
        const flopCards = document.getElementById("flopCards");
        const privateCards = document.getElementById("privateCards");
        const position = document.getElementById("position");
        const postflopActions = document.getElementById("postflopActions");
        getStrategyLink.href = `#`;
        getStrategyLink.onclick = function() {
            if (!turnCardInput.value.trim()) {
                alert("turn牌面不能为空！");
                return false;
            }

            getStrategyLink.href = `/postflop/turn?preflopActions=${preflopActions.textContent}&flopCards=${flopCards.textContent}&privateCards=${privateCards.textContent}&position=${position.textContent}&postflopActions=${postflopActions.textContent}&turnCard=${turnCardInput.value}`;
            return true;
        };
    </script>
</div>
<div th:unless="${needInput}">
    <div class="container">
        <div th:each="entry : ${strategy}">
            <a th:href="@{/postflop/turn(preflopActions=${preflopActions}, flopCards=${flopCards}, privateCards=${privateCards}, position=${position}, postflopActions=${entry.getValue()}, turnCard=${turnCard}, notChance=true)}"
               th:text="${entry.getKey()}" style="font-size: 20px;"></a>
        </div>
    </div>
</div>
</body>
</html>